/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	text-decoration: none;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ========================= reset css ======================== */

body{
	background-color: #EFE9E7;
	font-family: Arial, "Microsoft JhengHei Regular", "FontAwesome", "NotoSansCJKtc-Medium", sans-serif !important;
}

header{
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.75);
	position: fixed;
	width: 100%;
	height: 56px;
}

footer{
	max-width: 1024px;
	height: 150px;
	line-height: normal;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.nav{
	max-width: 1024px;
	height: 56px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.navbar_nav ul{
	display: flex;
	padding: 18px 33px 18px 0;
}

.shownav{
	display: none;
}

@media (max-width: 767px){
	.navbar_nav ul{
		display: block;
		max-height: 0px;
		padding: 0;
		overflow: hidden;
		transition: max-height 1.5s;
		/*絕對定位疊在網頁上*/
		position: absolute;
		z-index: 100;
		/*header 80px+1px boder 線條*/
		top: 56px;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.75);
	}
	.navbar_nav li{
		padding: 16px 0 16px 13px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	}
	.navbar_nav li:hover{
		background-color: rgb(255, 255, 255,0.25);
		transition: 0.3s;
	}
	.shownav{
		display: block;
		font-size: 24px;
		color: white;
		padding: 16px 22px 16px 0;
	}
	.shownav:hover{
		color: white;
	}
	.nav_show .navbar_nav ul{
		max-height: 500px;
		transition: max-height 1.5s;
	}
}

.banner{
	background-image: url(../images/header_desktop.png);
	background-position: center;
	height: 420px;
	max-width: 1024px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.bannerBackground{
	background-color: black;
	width: 100%;
}

@media (max-width: 600px){
	.banner{
		background-image: url(../images/header_mobile.png);
		background-repeat: no-repeat;
	}
}

.form{
	max-width: 1024px;
	margin: 50px auto 0 auto;
	text-align: center;
}

.login_form, .register{
	margin: 35px auto 50px auto;
	width: 300px;
	display: flex;
	flex-direction: column;
	border-top: 2px solid #FF5E45;
	background-color: #EFE9E7;
	box-shadow: 3px 3px 10px rgb(90, 90, 90);
	padding: 15px;
}

.login_form_btn{
	display: flex;
	margin-top: 30px;
}

.about{
	max-width: 299px;
	font-size: 16px;
}

.contact ul{
	list-style-type: disc;
}

.icon_block{
	text-align: right;
	margin-top: 22px;
}

@media (max-width: 767px){
	.icon_block{
		text-align: center;
	}
}

.footer_container{
	width: 550px;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 767px){
	footer{
		height: auto;
		flex-direction: column;
    	align-items: center;
	}
	.footer_container{
		width: 100%;
		display: block;
		padding: 0 30px 0 30px;
	}
	.about{
		margin-bottom: 30px;
	}
	.contact{
		margin-bottom: 30px;
	}
	.icon{
		margin-bottom: 50px;
	}
}

.feature{
	max-width: 1024px;
	height: 576px;
	margin: auto;
}

.feature_title{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0 31px 0;
}

.feature_list{
	display: flex;
	justify-content: space-evenly;
}

.feature_list_item{
	width: 260px;
	color: #3D1101;
	line-height: normal;
}

@media (max-width: 767px){
	.feature{
		height: auto;
	}
	.feature_list{
		flex-direction: column;
    	align-items: center;
	}
	.feature_list_item{
		margin-bottom: 40px;
		width: 300px;
	}
}

.img_center{
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.todaychef_wrap{
	height: 460px;
	background-color: #3D1101;
}

.todaychef{
	max-width: 1024px;
	margin: auto;
	display: flex;
}

.todaychef_text{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	color: #EFE9E7;
	line-height: normal;
	padding: 81px 25px 0 25px;
}

.impression{
	max-width: 1024px;
	height: 365px;
	margin: auto;
	line-height: normal;
	color: #3D1101;
}

.impression ul{
	display: flex;
	justify-content: center;
}

.impression_item{
	display: flex;
	width: 300px;
}

@media (max-width: 767px){
	.impression{
		height: auto;
	}
	.impression ul{
		flex-direction: column;
    	align-items: center;
	}
	.impression_item{
		margin-bottom: 30px;
	}
}

.booking_wrap{
	background: rgba(250,250,250,0.70);
}

.booking{
	max-width: 1024px;
	margin: auto auto 50px auto;
	height: 588px;
	padding: 50px 42px 50px 42px;
}

.booking_block{
	display: flex;
	justify-content: space-between;
}

.booking_form{
	width: 460px;
	margin-left: 15px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.choose_block{
	display: flex;
}

.booking_form_btn{
	text-align: right;
	margin-top: 28px;
}

.order,.order a{
	max-width: 1024px;
	margin: auto;
	color: #3D1101;
}

.menu_cart a{
	z-index: 99;
	position: relative;
}

@media (max-width: 767px){
	.menu_cart a{
		position: fixed;
		bottom: 0;
		right: 0;
		margin: 0 10px 10px 0;
	}
}

.order_block{
	display: flex;
	justify-content: space-between;
	padding: 48px 42px 20px 42px;
}

@media (max-width: 1000px){
	.order_block{
		justify-content: space-around;
	}
}

@media (max-width: 767px){
	.order_block{
		display: block;
		padding: 48px 16px 20px 16px;
	}
	.order_menu{
		margin-top: 15px;
	}
}

.menu_header{
	width: 700px;
	display: flex;
	justify-content: space-between;
}

.menu_list{
	margin-top: 26px;
}

.menu_list ul{
	width: 700px;
	display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
}

.menu_items{
	position: relative;
	width: 220px;
	margin-bottom: 30px;
	box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.2);
}

.fa-heart{
	position: absolute;
	top: 0;
	left: 0;
	margin: 9px 0 0 9px;
	color: white;
	font-size: 23px;
}

@media (max-width: 1000px){
	.menu_list ul{
		width: 480px;
	}
	.menu_header{
		width: 100%;
	}
}

@media (max-width: 767px){
	.menu_list ul{
		width: 100%;
		flex-direction: column;
    	align-items: center;
	}
	.menu_items{
		width: 100%;
	}
	.menu_header{
		display: block;
	}
}

.register{
    width: 620px;
	height: 316px;
	display: block;
	line-height: normal;
	color: #3D1101;
}

.register_wrap{
	display: flex;
	justify-content: space-between;
}

.register_form{
    display: flex;
    flex-direction: column;
	width: 285px;
}

@media (max-width: 767px){
	.register{
		width: auto;
		margin: 35px 16px 50px 16px;
	}
	.register_wrap{
		display: block;
		margin: auto;
	}
	.register_form{
		width: 100%;
	}
	.terms{
		display: none;
	}
}

.terms{
	width: 285px;
	margin-top: 16px;
	text-align: left;
	font-size: 18px;
}

.register_form_btn{
	margin-top: 30px;
	text-align: right;
}

.register_form_btn button{
	border-radius: 3px;
    border: none;
    width: 125px;
    height: 32px;
    color: #FFFF;
	background-color: #F56C23;
}

/* =========================== layout ========================= */

.logo{
	display: flex;
	align-items: center;
	margin-left: 48px;
}

@media (max-width: 767px){
	.logo{
		margin-left: 13px;
	}
}

.navbar_nav li a{
	color: white;
	font-size: 16px;
	margin: 0 15px 0 15px;
}

.banner_text{
	background-color: rgba(0,0,0,0.35);
	padding: 20px 42px 10px 22px;
	text-align: center;
	color: white;
}

.banner_text h1{
	font-size: 36px;
}

.banner_text p {
	font-style: 16px;
	padding: 16px 0 16px 0;
	line-height: normal;
}

.form h2{
	margin-top: 5px;
	font-weight: bold;
	font-size: 20px;
}

.login_form h3, .register h3{
	font-weight: bold;
	font-size: 18px;
}

.login_form label, .register_form label{
	text-align: left;
	margin-top: 16px;
}

.login_form a, .register_form a{
	text-align: left;
	font-size: 14px;
	color: #FF5E45;
}

.login_form input, .register_form input{
	padding: 10px;
	margin: 3px 0 3px 0;
	border-radius: 1px;
	border: 0.5px solid #CCCCCC;
	height: 32px;
}

.login_form_btn button{
	border-radius: 3px;
	border: none;
	width: 125px;
	height: 32px;
	color: #FFFF;
}

.login_form_btn .register_link{
	display: inline-block;
	width: 125px;
	height: 32px;
	border-radius: 3px;
	font-size: 16px;
	text-align: center;
	line-height: 32px;
	color: #FFFF;
	background: rgba(0,0,0,0.35);
}

.login_btn{
	background-color: #F56C23;
	margin-left: 20px;
}

footer h3{
	font-size: 24px;
	margin-bottom: 16px;
}

.icon_block i{
	font-size: 36px;
	margin-left: 10px;
}

.feature h2{
	text-align: center;
	line-height: 32px;
	font-size: 20px;
	font-weight: bold;
	color: #3D1101;
	margin: 0 13px 0 13px;
}

.text_line{
	width: 100px;
	border-top: 1px solid #979797;
}

.feature_list_item img{
	border-radius: 50%;
}

.feature_list_item h3{
	font-size: 18px;
	margin: 20px 0 11px 0;
	text-align: center;
}

.feature_list_item p {
	font-size: 16px;
}

.todaychef_img{
	background-image: url(../images/main_chef_brown.png);
	background-position: center;
	width: 470px;
	height: 460px;
	margin-left: 42px;
}

.todaychef_text h3{
	font-size: 20px;
	line-height: 32px;
}

.todaychef_text h4,.todaychef_text p{
	font-size: 16px;
	margin-bottom: 16px;
	max-width: 410px;
}

@media (max-width: 1000px){
	.todaychef_img{
		margin-left: 16px;
	}
}

@media (max-width: 767px){
	.todaychef_wrap{
		height: auto;
	}
	.todaychef{
		flex-direction: column;
    	align-items: center;
	}
	.todaychef_img{
		margin: auto;
		width: 100%;
		background-repeat: no-repeat;
	}
	.todaychef_text{
		padding: 30px 25px 24px 25px;
	}
}

.impression h2{
	font-size: 24px;
	margin: 50px 0 32px 0;
	text-align: center;
}

.impression_item img{
	border-radius: 50%;
	width: 67px;
	height: 67px;
}

.impression_text{
	margin-left: 13px;
}

.impression_text h4{
	text-align: right;
	margin-top: 16px;
	color: rgba(61,17,0,0.75);
}

.impression_item h3{
	font-size: 18px;
	padding: 25px 25px 25px 0;
}

.booking h2{
	font-size: 24px;
	color: #3D1101;
	margin-bottom: 32px;
	text-align: center;
	line-height: normal;
}

.map{
	background-image: url(../images/Map.png);
	background-position: center;
	width: 460px;
	height: 386px;
}

@media (max-width: 767px){
	.booking{
		height: auto;
		padding: 50px 16px 50px 16px;
	}
	.booking_block{
		flex-direction: column;
    	align-items: center;
	}
	.map{
		width: 100%;
		background-repeat: no-repeat;
		margin-bottom: 30px;
	}
	.booking_form{
		width: 100%;
		margin: 0;
	}
}

.booking_form label{
	margin: 0 6px 6px 0;
}

.booking_form input{
	margin-bottom: 12px;
	padding: 5px 14px 5px 14px;
	height: 32px;
	border: none;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
}

.choose_block input{
	margin-right: 36px;
	height: auto;
}

.booking_form_btn input{
	margin: 0 0 0 11px;
	width: 70px;
	height: 32px;
	padding: 6px 0 6px 0;
	font-size: 14px;
	color: #FFFF;
	border: none;
	border-radius: 3px;
}

.booking_form_btn .cancel{
	background: rgba(0,0,0,0.35);
}

.booking_form_btn .submit{
	background: #F56C23;
}

.order_list h2{
	font-size: 20px;
	margin-bottom: 16px;
}

.order_list h2 i{
	font-size: 26px;
}

.order_list li{
	width: 220px;
	border-bottom: 1px solid #3D1101;
}

.order_list a{
	padding: 8px;
	display: block;
}

.order_list a:hover{
	color: white;
	transition: 0.3s;
}

.order_list li:hover{
	background-color: #3D1101;
	transition: 0.3s;
}

@media (max-width: 767px){
	.order_list li{
		width: 100%;
	}
}

.active{
	background-color: #3D1101;
}

.active a{
	color: white;
}

.menu_search{
	position:relative;
}

.menu_search input{
	width: 460px;
	height: 32px;
	border: 2px solid #3D1101;
	background-color:#EFE9E7;
	padding: 5px;
}

.menu_search button{
	position: absolute;
	right: 0;
	border: none;
	background-color: #3D1101;
	color: white;
	width: 36px;
	height: 32px;
}

@media (max-width: 1000px){
	.menu_search input{
		width: 320px;
	}
}

@media (max-width: 767px){
	.menu_search input{
		width: 100%;
	}
}

.menu_cart{
	display: flex;
	align-items: center;
}

.menu_cart i{
	font-size: 27px;
}

.menu_cart .menu_cart_number{
	position: absolute;
	top: -5px;
	right: -9px;
	background-color: #FF5E45;
	color: white;
	font-size: 12px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	text-align: center;
	line-height: normal;
}

@media (max-width: 767px){
	.menu_cart i{
		font-size: 36px;
	}
}

.menu_cart span{
	margin: 0 6px 0 6px;
}

@media (max-width: 767px){
	.menu_cart h3, .menu_cart span{
		display: none;
	}
	.menu_cart_number{
		display: inline-block !important;
	}
}

.menu_items img{
	width: 100%;
	margin-bottom: 5px;
}

.menu_items{
	text-align: center;
	line-height: normal;
}

.menu_items h3{
	font-size: 20px;
}

.menu_items h4{
	font-size: 12px;
}

.menu_items hr{
	width: 91px;
	margin: 8px auto 20px auto;
}

.prize{
	font-weight: bold;
	font-family: "Roboto-Light";
	font-style: italic;
}

.btn_wrap{
	margin: 13px auto 10px auto;
	padding: 0 10px 0 10px;
}

.btn_wrap button{
	width: 100%;
	height: 28px;
	border: 2px solid #FF5E45;
	border-radius: 3px;
	color: #FF5E45;
	background-color: #EFE9E7;
}

.btn_wrap button:hover{
	background-color: #FF5E45;
	color: #EFE9E7;
	transition: 0.3s;
}

@media (max-width: 767px){
	.menu_items button{
		width: 100%;
	}
}

.register_form input{
	width: 285px;
}

@media (max-width: 767px){
	.register_form input{
		width: 100%;
	}
}

.gotop{
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 0 16px 16px 0;
	font-size: 42px;
	color: #F56C23;
}

.gotop a{
	color: #F56C23;
}

@media (max-width: 767px){
	.gotop{
		position: unset;
	}
}

/* ========================== element ========================= */